# sublime text files
*.sublime-project
*.sublime-workspace

# generated doc folder
/doc

# rvmrc
.rvmrc

# Gemfile.lock - for the moment let's avoid to specify deps with such precision
# still unsure if it's the way to go as scrapevg is after all an app and possibly 
# a gem at the same time
Gemfile.lock
